
<h1>Room.show</h1>
<h4><%= @room.name %></h4>

<% @room_message.each do |message| %>
  <p><%= message.message %></p>
<% end %>


<%= render 'form' %>

</br>
<%= link_to "Back for list of the rooms", rooms_path %>

