<div id="separator">
<hr>
</div>
<div class="container" style="margin-top: 75px">
        <p class="mt-5 text-center text-muted">
        	Chat App | Adam Nemeth © All rights reserved
        	<div class="links_in_the_footer"><p><%= link_to 'About Us', about_path, style: 'margin-right:20px' %><%= link_to 'Contact', contact_path %></p></div>
        </p>
</div>