<header role="banner">
  <div>
    <nav id="nav_bar_for_links" role="navigation">
      <ul id="user_details_menu" class="nav navbar-nav navbar-right text-muted">
        <% if current_user %>
          <li class="nav-item" style="margin-left: 10px; margin-top: 10px"><h6>Username: <%= current_user.username %> - </h6></li>
          <li class="nav-item" style="margin-right: 10px; margin-top: 10px"><h6><%= link_to 'Logout', destroy_user_session_path, method: :delete %></h6></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <br>
  <h1 class="mt-5 text-center"><%= link_to 'Private  Chat', root_path, style: "text-center" %></h1>

  <div id="separator">
    <hr>
  </div>

</header>
