<div id="content_of_about" class="row align-items-start">
   <div class="col-md-12"><h2>Rails based Chat-app</h2></div>
   <div class="col-md-12"><h3>Developed by Adam Nemeth © All rights reserved 2019</h3></div>
   <div class="col-md-12" style="margin-top: 150px;"><h4><%= link_to 'Contact with developer', contact_path %></h4></div>
</div>
