<%= form_for @room do |form| %>
<div id="input_field_for_rooms">
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text text-muted">Name of Room: </span>
      <%= form.text_field :name, class: 'input_field_room'%>
      <%= form.submit "Save", class: 'btn btn-primary' %>
	</div>
  </div>
</div>
<% end %>