<div class="small_content_holder_of_name_of_the_rooms">
<% unless @rooms.empty? %>
  <% @rooms.each do |room| %>
  	<h4><%= link_to room.name, room_path(room) %></h4>
  <% end %>
  <% else %>
    <h4>No Room</h4>
<% end %>
</div>