<div class="small_content_holder_of_name_of_the_rooms">
  <% unless @users.empty? %>
    <% @users.each do |user| %>
      <h4><%= user.username%></h4>
    <% end %>
  <% else %>
    <h4>No User</h4>
  <% end %>
</div>