<div class="small_content_holder_of_name_of_the_rooms">
  <% unless @users.empty? %>
    <% @users.each do |user| %>
      <% unless user == current_user %>
        <h4><%= user.username%>
          <button type="button" class="btn btn-success">Invite</button>
          <button type="button" class="btn btn-danger">Uninvite</button>
        </h4>
      <% end %>
    <% end %>
  <% else %>
    <h4>No User</h4>
  <% end %>
</div>