<div class="small_content_holder_of_name_of_the_rooms">
  <% unless @users.empty? %>
    <% @users.each do |user| %>
      <% unless user == current_user %>
        <h4><%= user.username%>
          <%= link_to 'Invite', invite_path(), class: 'btn btn-outline-secondary' , :method => :post %>
          <%= link_to 'Uninvite', uninvite_path(), class: 'btn btn-outline-danger', :method => :delete %>
        </h4>
      <% end %>
    <% end %>
  <% else %>
    <h4>No User</h4>
  <% end %>
</div>