<div class="col-md-5">
<h2>List of available rooms:</h2>

<%= render 'rooms' %>


<h2>Create a new Room</h2>

<%= form_for @room do |form| %>
  <%= form.text_field :name %>
  <%= form.submit "Save", class:'btn btn-primary' %>
<% end %>
</div>

<div class="align-items-center">
 <h1>You Are not seleceted room yet</h1>
</div>