
<div id="list_of_room" class="col-md-5">
  <div class="small_content_holder">
    <h2>List of available rooms:</h2></br>

    <div style="margin-left: 2%;">

      <%= render 'rooms' %>

    </div>

    </br>
    <hr>

    <h2 style="padding-top: 20px">Create a new Room</h2>

    </br>

    <%= render 'form' %>

    </br>

  </div>
</div>


<div id="list_of_messages" class="col-md-7 align-items-center">
  <div class="small_content_holder">
    <h2 class="">You are out of rooms</h2>
  </div>
</div>

