@import "bootstrap-sprockets";
@import "bootstrap";

body {
  height: 100%
}

#list_of_room {
  height: 650px;
  border:2px solid red;
  border-width:0px 1px 0px 1px;
  border-style:solid;
  border-color:#eeeeee;
}

#list_of_messages{
  height: 650px;
  border-width:0px 1px 0px 1px;
  border-style:solid;
  border-color:#eeeeee;
}

.small_content_holder {
    margin-left:12%;
    justify-content: center;
    align-items: center;
}
.small_content_holder_on_messages {
    margin-left:5%;
    justify-content: center;
    align-items: center;
}

.container {
	margin-top:100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
}

#input_field_for_message{
	width:480px;
	float:left;
	margin-left:15%;
}

.input_field_message{
	width:275px;
}
